<div class="opacity">
  <div class="container" id="main">
    <div class="hero">
      <h1>Eat-Da-Burger!</h1>
    </div>
<br>
<form>
  <p>
    <label for="name">Type burger name here: </label>
    <input type="text" name="burger" id="burgerInput">
  </p>
  <button id="addBurger">Add Burger</button>
</form>
<div id="newBurgers">
  <div class="row">
    <div class="col">
      <h2> Burger List </h2>
      <ul id="burgerList">
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          {{this.burger_name}}
          <button class="eat" data-id="{{this.id}}">Devour!</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <div id="eatenArea">
        <h2>Devoured Burgers</h2>
        <ul id="eaten">
          {{#each burgers}}
          {{#if devoured}}
          <li>
            {{this.burger_name}}
            <button class="delete" data-id="{{this.id}}">X</button>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>


