<div class="container">
<h1>Eat-Da-Burger!</h1>
<div id="pic">
  <img src="https://img.sndimg.com/food/image/upload/c_thumb,q_80,w_412,h_232/v1/img/mpx/5458744_16x9.jpg
" alt="hamburger"> 
</div>
<br>
<form>
  <p>
    <label for="name">Type burger name here: </label>
    <input type="text" name="burger" id="burgerInput">
  </p>
  <button id="addBurger">Add Burger</button>
</form>
<div id="newBurgers">
  <div class="row">
    <div class="col">
      <p> Burger List </p>
      <ul id="burgerList">
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          {{this.burger_name}}
          <button class="eat" data-id="{{this.id}}">Devour!</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <div id="eatenArea">
        <p>Devoured Burgers</p>
        <ul id="eaten">
          {{#each burgers}}
          {{#if devoured}}
          <li>
            {{this.burger_name}}
            <button class="delete" data-id="{{this.id}}">Delete</button>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>


