<h1 class="hero">Eat-Da-Burger!</h1>
<br>
<div class="container" id="main">
<h3>Welcome to Eat-Da-Burger! </h3>
<p>Come devour a burger from the Burger List!</p>
<p>Or create your own burger below & add it to the list!</p>
<form>
  <p>
    <label for="name">Type burger name here: </label>
    <input type="text" name="burger" id="burgerInput">
  </p>
  <button id="addBurger">Add Burger</button>
</form>
<div id="newBurgers">
  <div class="row">
    <div class="col">
      <h2><strong> Burger List </strong></h2>
      <ul id="burgerList">
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          <img src="./assets/img/uneaten.jpg" class="small" alt="green hamburger icon">
          {{this.burger_name}}
          <button class="eat" data-id="{{this.id}}">Devour!</button>
        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col">
      <div id="eatenArea">
        <h2>Devoured Burgers</h2>
        <ul id="eaten">
          {{#each burgers}}
          {{#if devoured}}
          <li>
            <img src="./assets/img/black.jpg" class="eatenBurger" alt="black hamburger icon">
            {{this.burger_name}}
            <button class="delete" data-id="{{this.id}}">X</button>
          </li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
