body {
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

body::after {
  content: "";
  background: url('../img/fall.jpg');
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.hero {
  background-color: cadetblue;
  box-shadow: 5px 10px #888888;
}

#pic {
  height: 200px;
  padding-bottom: 20px;
}

h2 {
  background-color: rgb(18, 163, 91);
}

li {
  list-style-type: none;
  background-color: lightgoldenrodyellow;
  margin: 5px 0px 5px 0px;
}

button {
  border-radius: 10%;
  -webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  -ms-border-radius: 10%;
  -o-border-radius: 10%;
}

#addBurger {
  background-color: rgb(13, 13, 182);
  color: white;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
}

.eat {
  background-color: purple;
  color: white;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
}

.delete {
  background-color: rgb(167, 31, 31);
  color: white;
  transition: background 0.5s;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
}

button:hover {
  background: goldenrod;
}